# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pdb
*.so

# Django
*.log
*.pot
*.pyc
db.sqlite3
media/
staticfiles/

# Environment variables
.env

# Virtual environment
venv/
ENV/
env/

# VSCode or IDE settings (optional)
.vscode/
.idea/

# MacOS
.DS_Store

# Migrations (optional to ignore if you recreate them on every machine)
**/migrations/*.py
!**/migrations/__init__.py
